# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Xcode
*.xcodeproj/
*.xcworkspace/

# macOS
.DS_Store

# Binaries
*.out
*.a
*.so
*.dylib

# log files
*.log

# system config files
/.vscode

# assets
/assets/*

#config 
why.toml